examples/fingerpint-flow.json
[{"id":"55fb1ac.faa04e4","type":"FP-Enroll","name":"","x":493,"y":211,"z":"4e31e9d6.b1ce18","wires":[["7c8534cf.837acc","9a6ce630.659318"],["c6cf7a2d.393088"],["8f0b6ee.f70f49"]]},{"id":"5ef8f839.a10708","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":358,"y":211,"z":"4e31e9d6.b1ce18","wires":[["55fb1ac.faa04e4"]]},{"id":"9a6ce630.659318","type":"FP-Verify","name":"","x":633,"y":155,"z":"4e31e9d6.b1ce18","wires":[["e6f8fd2.f1907"],["313bcc4e.cec434"],["ad37eeac.52c81"]]},{"id":"e6f8fd2.f1907","type":"debug","name":"Verify Succeeded","active":true,"console":"false","complete":"payload","x":810,"y":118,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"c6cf7a2d.393088","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":658,"y":295,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"313bcc4e.cec434","type":"debug","name":"Verify Failed","active":true,"console":"false","complete":"payload","x":793,"y":156,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"8f0b6ee.f70f49","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":667,"y":334,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7c8534cf.837acc","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":674,"y":258,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"ad37eeac.52c81","type":"debug","name":"Verify Message","active":true,"console":"false","complete":"payload","x":801,"y":192,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7c7fd0ec.83803","type":"FP-Enroll","name":"","x":582,"y":557,"z":"4e31e9d6.b1ce18","wires":[["bf9625d1.4069d8","9d4cb18e.62b35"],["41cbff35.be34"],["702d024e.8fd2fc"]]},{"id":"6839f76e.97c608","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":447,"y":557,"z":"4e31e9d6.b1ce18","wires":[["7c7fd0ec.83803"]]},{"id":"41cbff35.be34","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":747,"y":641,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"702d024e.8fd2fc","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":756,"y":680,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"bf9625d1.4069d8","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":763,"y":604,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"62502a4b.9dafd4","type":"debug","name":"Identify Succeeded","active":true,"console":"false","complete":"payload","x":1221,"y":417,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"e2469498.1db968","type":"debug","name":"Identify Failed","active":true,"console":"false","complete":"payload","x":1204,"y":455,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"75501406.8aafec","type":"debug","name":"Identify Message","active":true,"console":"false","complete":"payload","x":1212,"y":491,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7d15abcb.82ea54","type":"FP-Identify","name":"","x":1012,"y":465,"z":"4e31e9d6.b1ce18","wires":[["62502a4b.9dafd4"],["e2469498.1db968"],["75501406.8aafec"]]},{"id":"9d4cb18e.62b35","type":"function","name":"Enroll 3 Finger Then Identify","func":"if(msg.fingerprints == undefined)\n{\n\tmsg.fingerprints = new Array();\n}\n\nmsg.fingerprints[msg.fingerprints.length] = msg.payload.fingerprint;\n\nif(msg.fingerprints.length == 3) {\n\tmsg.payload = { fingerprints: msg.fingerprints };\n\tdelete msg.fingerprints;\n\treturn [ null, msg ];\n}\nelse {\n\treturn [ msg, null ];\n}","outputs":"2","x":714,"y":440,"z":"4e31e9d6.b1ce18","wires":[["7c7fd0ec.83803"],["7d15abcb.82ea54"]]}]
