examples/fingerpint-flow.json
[{"id":"f54b1599.0ab4e8","type":"comment","name":"Cancel","info":"This inject will cancel any running fingerprint action.\nThe fingerprint node which was active will send a result == false and cancelled == true.","x":282,"y":89,"z":"2c297ed7.d3d682","wires":[]},{"id":"8fe03a3c.701fc8","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":293,"y":152,"z":"2c297ed7.d3d682","wires":[["d6320d72.29cdf"]]},{"id":"d6320d72.29cdf","type":"FP-Cancel","name":"","device":"","x":430,"y":152,"z":"2c297ed7.d3d682","wires":[]},{"id":"c2c35c81.3d3ca","type":"FP-Enroll","name":"","device":"","x":297,"y":379,"z":"2c297ed7.d3d682","wires":[["983022c5.67cfe","9491e7f0.6b6e18"],["f8ba716.f07459"],["a3fc919d.5c037"]]},{"id":"7729d72.f88d628","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":162,"y":379,"z":"2c297ed7.d3d682","wires":[["c2c35c81.3d3ca"]]},{"id":"9491e7f0.6b6e18","type":"FP-Verify","name":"","device":"","x":437,"y":323,"z":"2c297ed7.d3d682","wires":[["7e5a7a40.81a584"],["d27d2cfc.2d82d"],["b1bd64f1.4e4298"]]},{"id":"7e5a7a40.81a584","type":"debug","name":"Verify Succeeded","active":true,"console":"false","complete":"payload","x":614,"y":286,"z":"2c297ed7.d3d682","wires":[]},{"id":"f8ba716.f07459","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":462,"y":463,"z":"2c297ed7.d3d682","wires":[]},{"id":"d27d2cfc.2d82d","type":"debug","name":"Verify Failed","active":true,"console":"false","complete":"payload","x":597,"y":324,"z":"2c297ed7.d3d682","wires":[]},{"id":"a3fc919d.5c037","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":471,"y":502,"z":"2c297ed7.d3d682","wires":[]},{"id":"983022c5.67cfe","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":478,"y":426,"z":"2c297ed7.d3d682","wires":[]},{"id":"b1bd64f1.4e4298","type":"debug","name":"Verify Message","active":true,"console":"false","complete":"payload","x":605,"y":360,"z":"2c297ed7.d3d682","wires":[]},{"id":"37140a76.c8ebf6","type":"FP-Enroll","name":"","device":"","x":322,"y":797,"z":"2c297ed7.d3d682","wires":[["a6cdbbfc.593248","ef3a0eee.10c5f"],["634b3495.9cb4cc"],["4332e15b.bccd2"]]},{"id":"537ee357.ac811c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":187,"y":797,"z":"2c297ed7.d3d682","wires":[["37140a76.c8ebf6"]]},{"id":"634b3495.9cb4cc","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":487,"y":881,"z":"2c297ed7.d3d682","wires":[]},{"id":"4332e15b.bccd2","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":496,"y":920,"z":"2c297ed7.d3d682","wires":[]},{"id":"a6cdbbfc.593248","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":503,"y":844,"z":"2c297ed7.d3d682","wires":[]},{"id":"cc92597b.336da8","type":"debug","name":"Identify Succeeded","active":true,"console":"false","complete":"payload","x":961,"y":657,"z":"2c297ed7.d3d682","wires":[]},{"id":"9f4d7e.ff60b28","type":"debug","name":"Identify Failed","active":true,"console":"false","complete":"payload","x":944,"y":695,"z":"2c297ed7.d3d682","wires":[]},{"id":"f69adb28.096528","type":"debug","name":"Identify Message","active":true,"console":"false","complete":"payload","x":952,"y":731,"z":"2c297ed7.d3d682","wires":[]},{"id":"12578f1e.eda871","type":"FP-Identify","name":"","device":"","x":752,"y":705,"z":"2c297ed7.d3d682","wires":[["cc92597b.336da8"],["9f4d7e.ff60b28"],["f69adb28.096528"]]},{"id":"ef3a0eee.10c5f","type":"function","name":"Enroll 3 Finger Then Identify","func":"if(msg.fingerprints == undefined)\n{\n\tmsg.fingerprints = new Array();\n}\n\nmsg.fingerprints[msg.fingerprints.length] = msg.payload.fingerprint;\n\nif(msg.fingerprints.length == 3) {\n\tmsg.payload = { fingerprints: msg.fingerprints };\n\tdelete msg.fingerprints;\n\treturn [ null, msg ];\n}\nelse {\n\treturn [ msg, null ];\n}","outputs":"2","valid":true,"x":495,"y":658,"z":"2c297ed7.d3d682","wires":[["37140a76.c8ebf6"],["12578f1e.eda871"]]},{"id":"abf7505a.5408b","type":"comment","name":"Enroll - Verify","info":"This part of the flow enrolls one finger and calls verify with this finger.","x":174,"y":312,"z":"2c297ed7.d3d682","wires":[]},{"id":"aff29d56.500d6","type":"comment","name":"Enroll - Identify","info":"This part enrolls three finger and calls identify with these finger.","x":197,"y":720,"z":"2c297ed7.d3d682","wires":[]}]
