examples/fingerpint-flow.json
[{"id":"55fb1ac.faa04e4","type":"FP-Enroll","name":"","device":"","x":267,"y":178,"z":"4e31e9d6.b1ce18","wires":[["7c8534cf.837acc","9a6ce630.659318"],["c6cf7a2d.393088"],["8f0b6ee.f70f49"]]},{"id":"5ef8f839.a10708","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":132,"y":178,"z":"4e31e9d6.b1ce18","wires":[["55fb1ac.faa04e4"]]},{"id":"9a6ce630.659318","type":"FP-Verify","name":"","device":"","x":407,"y":122,"z":"4e31e9d6.b1ce18","wires":[["e6f8fd2.f1907"],["313bcc4e.cec434"],["ad37eeac.52c81"]]},{"id":"e6f8fd2.f1907","type":"debug","name":"Verify Succeeded","active":true,"console":"false","complete":"payload","x":584,"y":85,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"c6cf7a2d.393088","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":432,"y":262,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"313bcc4e.cec434","type":"debug","name":"Verify Failed","active":true,"console":"false","complete":"payload","x":567,"y":123,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"8f0b6ee.f70f49","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":441,"y":301,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7c8534cf.837acc","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":448,"y":225,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"ad37eeac.52c81","type":"debug","name":"Verify Message","active":true,"console":"false","complete":"payload","x":575,"y":159,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7c7fd0ec.83803","type":"FP-Enroll","name":"","device":"","x":292,"y":596,"z":"4e31e9d6.b1ce18","wires":[["bf9625d1.4069d8","9d4cb18e.62b35"],["41cbff35.be34"],["702d024e.8fd2fc"]]},{"id":"6839f76e.97c608","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":157,"y":596,"z":"4e31e9d6.b1ce18","wires":[["7c7fd0ec.83803"]]},{"id":"41cbff35.be34","type":"debug","name":"Enroll Failed","active":true,"console":"false","complete":"payload","x":457,"y":680,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"702d024e.8fd2fc","type":"debug","name":"Enroll Message","active":true,"console":"false","complete":"payload","x":466,"y":719,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"bf9625d1.4069d8","type":"debug","name":"Enroll Succeeded","active":true,"console":"false","complete":"payload","x":473,"y":643,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"62502a4b.9dafd4","type":"debug","name":"Identify Succeeded","active":true,"console":"false","complete":"payload","x":931,"y":456,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"e2469498.1db968","type":"debug","name":"Identify Failed","active":true,"console":"false","complete":"payload","x":914,"y":494,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"75501406.8aafec","type":"debug","name":"Identify Message","active":true,"console":"false","complete":"payload","x":922,"y":530,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7d15abcb.82ea54","type":"FP-Identify","name":"","device":"","x":722,"y":504,"z":"4e31e9d6.b1ce18","wires":[["62502a4b.9dafd4"],["e2469498.1db968"],["75501406.8aafec"]]},{"id":"9d4cb18e.62b35","type":"function","name":"Enroll 3 Finger Then Identify","func":"if(msg.fingerprints == undefined)\n{\n\tmsg.fingerprints = new Array();\n}\n\nmsg.fingerprints[msg.fingerprints.length] = msg.payload.fingerprint;\n\nif(msg.fingerprints.length == 3) {\n\tmsg.payload = { fingerprints: msg.fingerprints };\n\tdelete msg.fingerprints;\n\treturn [ null, msg ];\n}\nelse {\n\treturn [ msg, null ];\n}","outputs":"2","x":465,"y":457,"z":"4e31e9d6.b1ce18","wires":[["7c7fd0ec.83803"],["7d15abcb.82ea54"]]},{"id":"8daee4ac.725118","type":"comment","name":"Enroll - Verify","info":"This part of the flow enrolls one finger and calls verify with this finger.","x":144,"y":111,"z":"4e31e9d6.b1ce18","wires":[]},{"id":"7b9cf5f2.84630c","type":"comment","name":"Enroll - Identify","info":"This part enrolls three finger and calls identify with these finger.","x":167,"y":519,"z":"4e31e9d6.b1ce18","wires":[]}]
